[Unit]
Description=Generate module dependencies on first boot
Before=systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/sbin/depmod -a
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
